/* global style */
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

/* Footer Styles */
.footer {
  text-align: center;
  padding: 16px 0;
  font-size: 14px;
}
