.home {
  font-size: 14px;
}
/* Style for Search Input and selectOption Wrapper */
.SearchInput_Wrapper {
  /*  flex-wrap: wrap; /* Ensures proper layout on smaller screens */
  max-width: 428px; 
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
/* Search Icon */
.searchIcon {
  position: absolute;
  font-size: 20px;
  color: hsl(209, 23%, 22%, 0.5);
}
/* Search Input Field */
.searchInputField {
  width: 100%;
}
/* Select Option */
.selectOption {
  width: 100%;
  max-width: 200px;
  /* box-shadow: 0px 0px 5px hsl(209, 23%, 22%, 0.2); */
}
