.home {
  font-size: 14px;
}
/* Style for Search Input and selectOption Wrapper */
.SearchInput_Wrapper {
  max-width: 438px;
  width: 100%;
  border-radius: 4px;
}
/* Search Icon */
.searchIcon {
  font-size: 28px;
}
/* Select Option */
.selectOption {
  width: 100%;
  max-width: 200px;
  border-radius: 4px;
}
.country_cards {
  border-radius: 2;
  overflow: hidden;
}
.country_cards:hover {
  transform: scale(1.03);
  transition: 0.2s;
}
.countries_link {
  text-decoration: none;
  color: inherit;
}
.country_details strong {
  font-weight: 600;
}
.country_details span {
  font-weight: 300;
}
