*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }