
/* global style */
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* styles for the app */
.App{
  max-width: 960px;
  width: 0%;
  margin: 0 auto;
}


/* style for home page */
.searchInput_selectOption{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.countries{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  gap: 28px;
  margin: 32px 0;
}
/* styles for detail page */
.country_details{
  margin: 32px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 18px;
}
.details{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* style for the footer */
.footer{
  text-align: center;
}



